Backup/
Other/
.vscode/
.DS_Store
main/BNV_2021/
main/BNV_2022/
main/BNV_2023/
main/BNV_2024/
main/BNV_2024/
main/ChemicalHeating/
main/DMC_RNS/
main/EOS/
main/Examples/results/
main/LightDM_2024/
main/MixedStar/
main/SpinDown_2022/
main/SpinDown_2023/
main/Utility/
main/Quartic_Solver.py

